/*

!.gitignore
!build.gradle
!settings.gradle
!gradlew
!gradlew.bat
!README.md
!LICENSE
!CHANGELOG.md

!gradle/

!adapterviewanimator/
adapterviewanimator/*

!adapterviewanimator/src/

!adapterviewanimator/build.gradle

!adapterviewanimator-samples/
adapterviewanimator-samples/*

!adapterviewanimator-samples/src/

!adapterviewanimator-samples/build.gradle

.DS_store
